﻿@model chat_application.Models.LoginRequest
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
<form asp-action="Login" asp-controller="Account" method="post">
    <div asp-validation-summary="All"></div>
    <input type="text" asp-for="@Model.Email" /><br />
    <input type="password" asp-for="@Model.Password" /><br />
    <input type="submit" value="Login" />
</form>
</body>
</html>

