﻿@model chat_application.Models.RegisterRequest
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <form asp-action="Register" asp-controller="Account" method="post">
        <div asp-validation-summary="All"></div>
        <input type="text" asp-for="@Model.UserName" /><br />
        <input type="text" asp-for="@Model.Email" /><br />
        <input type="password" asp-for="@Model.Password" /><br />
        <input type="submit" value="Save" />
    </form>

</body>
</html>
